
<ion-header>

  <ion-navbar>
    <ion-title>Register</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form #registerForm="ngForm">
    <ion-card>

      <ion-card-content>
  
        <ion-item>
          <ion-label floating >Email</ion-label>
          <ion-input type="email" [(ngModel)]="account.email" name="email" #email="ngModel" required pattern="[a-z0-9!#$%&'*+/=?^_`{\}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{\}~-]+)*@(?:[a-z0-9](?:[a-z0-9]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"></ion-input>
        </ion-item>
        <div padding-left>
          <span ion-text *ngIf="email.invalid && email.dirty" color="danger">Email is invalid</span>        
        </div>

        
        <ion-item>
          <ion-label floating >Password</ion-label>
          <ion-input type="password" [(ngModel)]="account.password" #password="ngModel" name="password" pattern="[a-zA-Z0-9!@#$%^&*]{6,20}$" required></ion-input>
        </ion-item>
        <div padding-left>
          <span ion-text *ngIf="password.invalid && password.dirty" color="danger">Password must have at least 6 characters</span>          
        </div>
        
      </ion-card-content>
      <ion-row float-right padding>
        <button ion-button color="primary" margin-right (click)="register()" [disabled]="registerForm.invalid">Register</button>      
      </ion-row>
    </ion-card>
  </form>

</ion-content>
